<!DOCTYPE html>
<html>
<head>
    <title>SWU_CANNER REPORT</title>
</head>
<body>
    <h1 style="text-align: center;">SWU_CANNER REPORT</h1>
    <br>
    <br>
    <br>
    <br>

    <h2 style="text-align: center; text-decoration : underline;">스캔 상세정보</h2><br>
    <table style="width: 80%; margin-left: auto; margin-right: auto;" border="2">
        <tr>
            <td style="width: 30%; text-align: center; font-weight : bold;">시작시간</td>
            <td style="width: 70%;">&nbsp;&nbsp;&nbsp;&nbsp;{{ now2 }}</td>
        </tr>
    </table>
    <br>

    <!-- 표 출력 -->
    <h2 style="text-align: center; text-decoration : underline;">분석 결과</h2><br>
        <table style="width: 80%; margin-left: auto; margin-right: auto;" border="2">
            <tr>
                <th style="width: 30%; text-align: center; font-weight : bold;">질문</th>
                <th style="width: 70%; text-align: center; font-weight : bold;">답변</th>
            </tr>
            {% for response in responses %}
            <tr style="text-align: center;">
                <td style="font-weight : bold;">{{ response.question }}</td>
                <td style="text-align: left;">{{ response.answer }}</td>
            </tr>
            {% endfor %}
        </table>

    <!-- 기타 내용... -->
</body>
</html>
