{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="{% static 'css/report_style.css' %}"> -->
        <title>보고서</title>
    </head>
    <style>
        /* report.html css 파일입니다. */
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }

        h1 {
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            margin-top: 100px;
        }

        h2 {
            /* text-align: center; */
            font-size: 30px;
            font-weight: bold;
            margin-top: 100px;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
            /* text-align: center; */
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        li {
            margin-bottom: 5px;
        }

        form {
            margin-top: 15px;
            text-align: center;
        }

        label {
            display: block;
            margin-top: 70px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse; /* 테이블의 테두리 간격을 0으로 설정 */
        }

        td, th {
            border: 1px solid #000000; /* 셀의 테두리를 검은색으로 설정 */
            padding: 10px; /* 셀 내부의 패딩을 설정 */
        }

        input[type="email"],
        input[type="submit"],
        button {
            width: 50%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
        }

        input[type="submit"],
        button {
            background-color: #587650;
            color: white;
            text-align: center;
        }

        input[type="submit"]:hover,
        button:hover {
            background-color: #587650;
            text-align: center;
        }
        .center-button {
            text-align: center;
        }
    </style>
    <body>
        <h1 style="text-align: center;">SWU_CANNER REPORT</h1>
        <br>
        <br>
        <br>
        <br>
        
        <h2 style="text-align: center; text-decoration : underline;">스캔 상세정보</h2><br>
            <table style="width: 80%; margin-left: auto; margin-right: auto;" border="2">
                <tr>
                    <td style="width: 20%; text-align: center; font-weight : bold;">대상 URL</td>
                    <td style="width: 80%;">&nbsp;&nbsp;&nbsp;&nbsp;{{ url }}</td>
                </tr>
                <tr>
                    <td style="width: 20%; text-align: center; font-weight : bold;">시작시간</td>
                    <td style="width: 80%;">&nbsp;&nbsp;&nbsp;&nbsp;{{ now }}</td>
                </tr>
                <tr>
                    <td style="width: 20%; text-align: center; font-weight : bold; text-align: center;">소요시간</td>
                    <td style="width: 80%;">&nbsp;&nbsp;&nbsp;&nbsp;{{ result_elapsed_time }}초</td>
                </tr>
            </table>
            <br>
            <h2 style="text-align: center; text-decoration : underline;">위험수준</h2><br>
            <table style="width: 80%; margin-left: auto; margin-right: auto;" border="2">
                <th style="width: 13%; text-align: center; font-weight : bold;">종류</th>
                <th style="width: 13%; text-align: center; font-weight : bold;">위험 수준</th>
                <th style="width: 74%; text-align: center; font-weight : bold;">발견된 URL</th>
            {% if sql_injection_detected %}
            <tr style="text-align: center;">
                <td>SQL Injection</td>
                <td>상</td>
                <td>
                    {%for url in sql_vul_list%}
                    <p>{{url}}</p>
                    {%endfor%}
                </td>
            </tr>
            {% endif %}
            {% if xss_detected %}
            <tr style="text-align: center;">
                <td>XSS</td>
                <td>상</td>
                <td>
                    {%for url in xss_vul_list%}
                    <p>{{url}}</p>
                    {%endfor%}
                </td>
            </tr>
            {% endif %}
            {% if directory_indexing_detected %}
            <tr style="text-align: center;">
                <td>Directory Indexing</td>
                <td>상</td>
                <td>
                    {%for url in directory_vul_list%}
                    <p>{{url}}</p>
                    {%endfor%}
                </td>
            </tr>
            {% endif %}
            {% if csrf_detected %}
            <tr style="text-align: center;">
                <td>CSRF</td>
                <td>상</td>
                <td>{%for url in csrf_vul_list%}
                    <p>{{url}}</p>
                    {%endfor%}
                </td>
            </tr>
            {% endif %}
            </table>
            <br>
            <h2 style="text-align: center; text-decoration : underline;">탐지된 취약점의 정보 및 패치 방법</h2>
            {% if sql_injection_detected %}
            <h3 style="text-align: center;">SQL Injection 취약점</h3>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">CVE 정보</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2023-34362'>CVE-2023-34362</a></p>
            <p>MOVEit Transfer 에서 발생하는 SQL-Injection으로 웹 셸 업로드가 가능하게 되는 취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2022-47523'>CVE-2022-47523</a></p>
            <p>Password Manager Pro, PAM360, Access Manager Plus에서 발생하는 SQL Injection 취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2022-23767'>CVE-2022-23767</a></p>
            <p>한싹社의 SecureGate에서 인증 우회, SQL-Injection 및 디렉토리 탐색을 통해 프로그램 사용자의 시스템을 장악할 수 있는 취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2021-26644'>CVE-2021-26644</a></p>
            <p>MangBoard 게시판에서 발생하는 SQL-Injection을 이용한 정보 유출 취약점</p>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">패치 방법</p>
            <p>1. SQL 쿼리에 사용되는 문자열의 유효성을 검증하는 로직 구현</p><br>
            <p>2. 시스템에서 제공하는 에러 메시지 및 DBMS에서 제공하는 에러 코드가 노출되지 않도록 예외처리</p>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">아래와 같은 특수문자를 사용자 입력 값으로 지정 금지</p>
            <p>(데이터베이스에 따라 달라질 수 있음)</p>
            <table style="width: 50%; margin-left: auto; margin-right: auto;" border="2">
                <th style="width: 35%; text-align: center; font-weight : bold;">문자</th>
                <th style="width: 65%; text-align: center; font-weight : bold;">설명</th>
                <tr>
                    <td>&#39;</td>
                    <td>문자 데이터 구분 기호</td>
                </tr>
                <tr>
                    <td>&#59;</td>
                    <td >쿼리 구분 기호</td>
                </tr>
                <tr>
                    <td>--, #</td>
                    <td>해당라인 주석 구분 기호</td>
                </tr>
                <tr>
                    <td>/* */</td>
                    <td>/*와 */ 사이 구문 주석</td>
                </tr>
            </table>
            <br>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">웹 방화벽에 인젝션 공격 관련</p>
            <p>- 문자열 유효성 검증 로직 구현</p>
            <p>- Dynamic SQL 구문 사용 금지</p>
            <br>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">조시 시 영향</p>
            <p>문자열 유효성 검증 로직 구현 시 웹 서비스에서 사용하고 있는 명령어 및 특수문자가 필터링 되어 장애가 발생할 수 있으므로 사전 영향도 분석 필요</p>
            <br>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">패치를 위한 언어 별 예시 코드:</p>
            <p>- <a href="https://www.kisa.or.kr/skin/doc.html?fn=20220104_2030303_12.pdf&rs=/result/2022-01/">주요정보통신기반시설 기술적 취약점 분석 평가 방법 상세가이드</a> p.654 참고</p>
            {% endif %}
            <br>
            {% if xss_detected %}
            <h3 style="text-align: center;">XSS 취약점</h3>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">CVE 정보</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2023-22252'>CVE-2023-22252</a></p>
            <p>Adobe Experience Manager에서 발생하는 Reflected XSS 취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2023-22249'>CVE-2023-22249</a></p>
            <p>Adobe Commerce에서 발생하는 Stored XSS 취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2022-20959'>CVE-2022-20959</a></p>
            <p>Cisco Identity Services Engine(ISE)에서 발생하는 XSS취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2021-26644'>CVE-2021-26644</a></p>
            <p>(주)홈토리社의 MangBoard 게시판에서 발생하는 SQL-Injection을 이용한 정보 유출 취약점</p>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">패치 방법</p>
            <p>1. 웹 방화벽에 모든 사용자 입력 폼을 대상으로 특수 구문 필터링하도록 룰셋 적용</p>
            <p>2. URLDecoder 클래스에 존재하는 decode 메소드를 통해 URL 인코딩이 적용된 사용자 입력 값을 디코딩함으로써 우회 공격 차단</p>
            <p>3. 입력 값에 대한 필터링 로직 구현 시 공백 문자를 제거하는 trim, replace 함수를 사용하여 반드시 서버 측에서 구현되어야 함</p>
            <p>4. 게시물의 본문뿐만 아니라 제목, 댓글, 검색어 입력 창, 그 외 사용자 측에서 넘어오는 값을 신뢰하는 모든 form과 파라미터 값에 대해서 필터링 수행</p>
            <p>5. 웹 사이트에 사용자 입력 값이 저장되는 페이지는 공격자가 웹 브라우저를 통해 실행되는 스크립트 언어를 사용하여 공격하므로 해당되는 태그 사용을 사전에 제한하고, 사용자 입력 값에 대한 필터링 작업 필요함</p><br>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">필터링 조치 대상 입력 값</p>
            <p>- 스크립트 정의어: &lt;script&gt;, &lt;object&gt;, &lt;applet&gt;, &lt;embed&gt;, &lt;form&gt;, &lt;iframe&gt; 등</p>
            <p>- 특수문자: &lt;, &gt;, &quot;, &#39;, &amp;, &#37;, &#37;00(null) 등</p>
            <br>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">패치를 위한 언어 별 예시 코드</p>
            <p style="text-align: center;">- <a href="https://www.kisa.or.kr/skin/doc.html?fn=20220104_2030303_12.pdf&rs=/result/2022-01/">주요정보통신기반시설 기술적 취약점 분석 평가 방법 상세가이드</a> p.673 참고</p>
            {% endif %}
            <br>
            {% if directory_indexing_detected %}
            <h3 style="text-align: center;">Directory Indexing 취약점</h3>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">CVE 정보</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2023-4933'>CVE-2023-4933</a></p>
            <p>WP 채용 정보 플러그인에 대한 포괄적인 보안 평가를 수행하는 동안 디렉토리 목록 시스템 에서 발견된 승인되지 않은 사용자가 다른 사용자에게 속한 개인 파일에 액세스하고 다운로드 가능한 취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2023-37599'>CVE-2023-37599</a></p>
            <p>원격 공격자가 인가 없이 응용 프로그램의 modules 디렉터리 내의 민감한 파일을 볼 수 있게 허용하는 취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2022-46363'>CVE-2022-46363</a></p>
            <p>공격자가 원격 디렉토리 리스팅 또는 코드 유출을 수행할 수 있도록 하는 취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2022-30625'>CVE-2022-30625</a></p>
            <p>디렉터리 리스팅은 공격자에게 디렉터리 내부에 위치한 모든 리소스의 전체 인덱스를 제공하는 취약점</p>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">패치 방법</p>
            <p>1. 웹 서버 환경설정에서 디렉터리 인덱싱 기능 제거</p>
            <p>2. 모든 가상 디렉터리에 적용 필요</p>
            <br>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">패치를 위한 언어 별 예시 코드</p>
            <p>- <a href="https://www.kisa.or.kr/skin/doc.html?fn=20220104_2030303_12.pdf&rs=/result/2022-01/">주요정보통신기반시설 기술적 취약점 분석 평가 방법 상세가이드</a> p.663</p>
            {% endif %}
            <br>
            {% if csrf_detected %}
            <h3 style="text-align: center;">CSRF 취약점</h3>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">CVE 정보</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2022-41622'>CVE-2022-41622</a></p>
            <p>BIG-IP 및 BIG-IQ에서 iControl SOAP를 통해 발생하는 CSRF 취약점</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2022-23771'>CVE-2022-23771</a></p>
            <p>EFM네트웍스社의 IPTIME NAS 제품군에서 발생하는 CSRF 취약점</p>
            <p>IPTIME NAS 제품에서 사용자를 생성, 삭제하는 기능의 페이지를 통해 POST 요청이 올 때, 이 요청에 대해 검증하지 않아 발생하는 취약점</p>
            <p>공격자는 이 취약점을 이용하여 사용자 계정 생성 및 삭제, 임의 사용자 권한 상승 등을 할 수 있음</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2022-23765'>CVE-2022-23765</a></p>
            <p>EFM네트웍스社의 IPTIME NAS 제품군에서 발생하는 CSRF 취약점</p>
            <p>IPTIME의 NAS 제품에서 임의의 사용자가 로그인 되어있는 상태일 때, 특정페이지에 악의적인 내용의 POST 요청을 보냄으로서 발생하는 취약점</p>
            <p>공격자는 POST 요청을 통해 root의 패스워드 변경 등을 수행하여 root 권한 탈취가 가능</p>
            <p><a href='https://nvd.nist.gov/vuln/detail/CVE-2022-20961'>CVE-2022-20961</a></p>
            <p>Cisco ISE(Identity Services Engine)에서 발생하는 CSRF 취약점</p>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">패치 방법</p>
            <p>1. 웹 사이트에 사용자 입력 값이 저장되는 페이지는 요청이 일회성이 될 수 있도록 설계</p>
            <p>2. 사용 중인 프레임워크에 기본적으로 제공되는 CSRF 보호 기능 사용</p>
            <p>3. 사용자가 정상적인 프로세스를 통해 요청하였는지 HTTP 헤더의 Referer 검증 로직 구현</p>
            <p>4. 정상적인 요청(Request)과 비정상적인 요청(Request)를 구분할 수 있도록 Hidden Form을 사용하여 임의의 암호화된 토큰(세션 ID, Timestamp, nonce 등)을 추가하고 이 토큰을 검증하도록 설계</p>
            <p>5. HTML이나 자바스크립트에 해당되는 태그 사용을 사전에 제한하고, 서버 단에서 사용자 입력 값에 대한 필터링 구현</p>
            <p>6. HTML Editor 사용으로 인한 상기사항 조치 불가 시, 서버 사이드/서블릿/DAO(Data Access Object) 영역에서 조치하도록 설계</p>
            <p>7. XSS 조치 방안 참조</p>
            <br>
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">패치를 위한 언어 별 예시 코드</p>
            <p>- <a href="https://www.kisa.or.kr/skin/doc.html?fn=20220104_2030303_12.pdf&rs=/result/2022-01/">주요정보통신기반시설 기술적 취약점 분석 평가 방법 상세가이드</a> p.684</p>
            {% endif %}
            <br>
            <h2 style="text-align: center; text-decoration : underline;">취약점 현황</h2>
            <h3 style="text-align: center;">위험도 산정</h3>
            {% if law1 %}
            <p style="text-align: center;">검사한 웹 사이트의 위험도는 <b>{{score}}</b>점 입니다.</p>
            {% else %}
            <p style="text-align: center;">탐지된 취약점이 없어 위험도 산정이 불가능합니다.</p>
            {% endif %}
            <br>
            <h3 style="text-align: center;">위반 법 조항</h3>
            {% if law1 %}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">개인정보보호법 제3조 제4항</p>
            <p style="text-align: center;">④ 개인정보처리자는 개인정보의 처리 방법 및 종류 등에 따라 정보주체의 권리가 침해받을 가능성과 그 위험 정도를 고려하여 개인정보를 안전하게 관리하여야 한다.</p>
            {% endif %}
            {% if law2 %}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">개인정보보호법 제24조 제3항</p>
            <p style="text-align: center;">③ 개인정보처리자가 제1항 각 호에 따라 고유식별정보를 처리하는 경우에는 그 고유식별정보가 분실ㆍ도난ㆍ유출ㆍ위조ㆍ변조 또는 훼손되지 아니하도록 대통령령으로 정하는 바에 따라 암호화 등 안전성 확보에 필요한 조치를 하여야 한다.</p>
            {% endif %}
            {% if law3 %}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">개인정보보호법 제24조의2 제1항</p>
            <p style="text-align: center;">① 제24조제1항에도 불구하고 개인정보처리자는 다음 각 호의 어느 하나에 해당하는 경우를 제외하고는 주민등록번호를 처리할 수 없다.</p>
            <p style="text-align: center;">1. 법률ㆍ대통령령ㆍ국회규칙ㆍ대법원규칙ㆍ헌법재판소규칙ㆍ중앙선거관리위원회규칙 및 감사원규칙에서 구체적으로 주민등록번호의 처리를 요구하거나 허용한 경우</p>
            <p style="text-align: center;">2. 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 명백히 필요하다고 인정되는 경우</p>
            <p style="text-align: center;">3. 제1호 및 제2호에 준하여 주민등록번호 처리가 불가피한 경우로서 <a href='https://www.law.go.kr/LSW//lsInfoP.do?lsiSeq=248613&chrClsCd=010202&urlMode=lsInfoP&efYd=20230915&ancYnChk=0#0000'>보호위원회가 고시</a>로 정하는 경우</p>
            {% endif %}
            {% if law4 %}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">개인정보보호법 제24조의2 제2항</p>
            <p style="text-align: center;">② 개인정보처리자는 제24조제3항에도 불구하고 주민등록번호가 분실ㆍ도난ㆍ유출ㆍ위조ㆍ변조 또는 훼손되지 아니하도록 암호화 조치를 통하여 안전하게 보관하여야 한다. 이 경우 암호화 적용 대상 및 대상별 적용 시기 등에 관하여 필요한 사항은 개인정보의 처리 규모와 유출 시 영향 등을 고려하여 대통령령으로 정한다.</p>
            {% endif %}
            {% if law5 %}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">개인정보보호법 제24조의2 제3항</p>
            <p style="text-align: center;">③ 개인정보처리자는 제1항 각 호에 따라 주민등록번호를 처리하는 경우에도 정보주체가 인터넷 홈페이지를 통하여 회원으로 가입하는 단계에서는 주민등록번호를 사용하지 아니하고도 회원으로 가입할 수 있는 방법을 제공하여야 한다.</p>
            {% endif %}
            {% if law6 %}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">개인정보보호법 제29조, 개인정보보호법 시행령 제30조</p>
            <p style="text-align: center;">① 개인정보처리자는 법 제29조에 따라 다음 각 호의 안전성 확보 조치를 해야 한다.</p>
            <p style="text-align: center; text-decoration : underline;">2. 개인정보에 대한 접근 권한을 제한하기 위한 다음 각 목의 조치</p>
            <p style="text-align: center;">가. 데이터베이스시스템 등 개인정보를 처리할 수 있도록 체계적으로 구성한 시스템(이하 “개인정보처리시스템”이라 한다)에 대한 접근 권한의 부여ㆍ변경ㆍ말소 등에 관한 기준의 수립ㆍ시행</p>
            <p style="text-align: center;">나. 정당한 권한을 가진 자에 의한 접근인지를 확인하기 위해 필요한 인증수단 적용 기준의 설정 및 운영</p>
            <p style="text-align: center;">다. 그 밖에 개인정보에 대한 접근 권한을 제한하기 위하여 필요한 조치</p>
            <p style="text-align: center; text-decoration : underline;">3. 개인정보에 대한 접근을 통제하기 위한 다음 각 목의 조치</p>
            <p style="text-align: center;">가. 개인정보처리시스템에 대한 침입을 탐지하고 차단하기 위하여 필요한 조치</p>
            <p style="text-align: center;">나. 개인정보처리시스템에 접속하는 개인정보취급자의 컴퓨터 등으로서 <a href='https://www.law.go.kr/LSW//lsLinkCommonInfo.do?lspttninfSeq=66999&chrClsCd=010202#AJAX'>보호위원회가 정하여 고시</a>하는 기준에 해당하는 컴퓨터 등에 대한 인터넷망의 차단. 다만, 전년도 말 기준 직전 3개월 간 그 개인정보가 저장ㆍ관리되고 있는 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제2조제1항제4호에 따른 이용자 수가 일일평균 100만명 이상인 개인정보처리자만 해당한다.</p>
            <p style="text-align: center;">다. 그 밖에 개인정보에 대한 접근을 통제하기 위하여 필요한 조치</p>
            <p style="text-align: center; text-decoration : underline;">4. 개인정보를 안전하게 저장ㆍ전송하는데 필요한 다음 각 목의 조치</p>
            <p style="text-align: center;">가. 비밀번호의 일방향 암호화 저장 등 인증정보의 암호화 저장 또는 이에 상응하는 조치</p>
            <p style="text-align: center;">나. 주민등록번호 등 <a href='https://www.law.go.kr/LSW//lsLinkCommonInfo.do?lspttninfSeq=66999&chrClsCd=010202#AJAX'>보호위원회가 정하여 고시</a>하는 정보의 암호화 저장 또는 이에 상응하는 조치</p>
            <p style="text-align: center;">다. 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제2조제1항제1호에 따른 정보통신망을 통하여 정보주체의 개인정보 또는 인증정보를 송신ㆍ수신하는 경우 해당 정보의 암호화 또는 이에 상응하는 조치</p>
            <p style="text-align: center;">라. 그 밖에 암호화 또는 이에 상응하는 기술을 이용한 보안조치</p>
            {% endif %}
            {% if law7 %}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">개인정보 안전성 확보조치 제7조</p>
            <p style="text-align: center;">1. 개인정보처리자는 비밀번호, 생체인식정보 등 인증정보를 저장 또는 정보통신망을 통하여 송·수신하는 경우에 이를 안전한 암호 알고리즘으로 암호화하여야 한다. 다만, 비밀번호를 저장하는 경우에는 복호화되지 아니하도록 일방향 암호화하여 저장하여야 한다.</p>
            <p style="text-align: center;">2. 개인정보처리자는 다음 각 호의 해당하는 이용자의 개인정보에 대해서는 안전한 암호 알고리즘으로 암호화하여 저장하여야 한다.</p>
            <p style="text-align: center;">- 주민등록번호, 여권번호, 운전면허번호, 외국인등록번호, 신용카드 번호, 계좌 번호, 생체인식정보</p>
            <p style="text-align: center;">3. 개인정보처리자는 이용자가 아닌 정보주체의 개인정보를 다음 각 호와 같이 저장하는 경우에는 암호화하여야 한다.</p>
            <p style="text-align: center;">- DMZ에 고유식별정보를 저장하는 경우</p>
            <p style="text-align: center;">- 내부망에 고유식별정보를 저장하는 경우</p>
            <p style="text-align: center;">4. 개인정보처리자는 개인정보를 정보통신망을 통하여 인터넷망 구간으로 송·수신하는 경우에는 이를 안전한 암호 알고리즘으로 암호화하여야 한다.</p>
            <p style="text-align: center;">5. 개인정보처리자는 이용자의 개인정보 또는 이용자가 아닌 정보주체의 고유식별정보, 생체인식정보를 개인정보취급자의 컴퓨터, 모바일 기기 및 보조저장매체 등에 저장할 때에는 안전한 암호 알고리즘을 사용하여 암호화한 후 저장하여야 한다.</p>
            <p style="text-align: center;">6. 10만명 이상의 정보주체에 관하여 개인정보를 처리하는 대기업·중견기업·공공기관 또는 100만명 이상의 정보주체에 관하여 개인정보를 처리하는 중소기업·단체에 해당하는 개인정보처리자는 암호화된 개인정보를 안전하게 보관하기 위하여 안전한 암호 키 생성, 이용, 보관, 배포 및 파기 등에 관한 절차를 수립·시행하여야 한다.</p>
            {% endif %}
            <br>
            <h3 style="text-align: center;">관련 사고 사례</h3>
            {%if xss_detected%}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">XSS 관련 사고 사례</p>
            <div style="text-align: center;">
                <a href="https://biz.chosun.com/it-science/ict/2023/06/28/5SKDJZROHNGUBDAU6LJRXVJZMU/" >LG 헬로비전 사건</a><br>
            </div>
            {%endif%}
            {% if sql_injection_detected %}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">SQL Injection 관련 사고 사례</p>
            <div style="text-align: center;">
                <a style="text-align: center;" href="https://mobile.newsis.com/view.html?ar_id=NISX20230412_0002263767">밀리의 서재 개인정보 유출 사건</a><br>
                <a style="text-align: center;" href="https://www.gov.kr/portal/gvrnPolicy/view/156224561?policyType=G00301&srchTxt=%EC%97%AC%EA%B8%B0%EC%96%B4%EB%95%8C">여기어때 개인정보 유출 사건</a><br>
                <a style="text-align: center;" href="https://www.sedaily.com/NewsView/26760KUSFY">창비(온라인 도서 누리집) 사건</a><br>
                <a style="text-align: center;" href="https://www.boannews.com/media/view.asp?idx=122589&kind=1">국민은행·신일전자·슈나이더일렉트릭코리아 사건</a><br>
                <a style="text-align: center;" href="https://www.digitaltoday.co.kr/news/articleView.html?idxno=457090">한동대학교 사건</a><br>
                <a style="text-align: center;" href="https://www.boannews.com/media/view.asp?idx=117979&kind=">서울대학교 사건</a><br>
            </div>
            {%endif%}
            {%if directory_indexing_detected%}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">Directory Indexing 관련 사고 사례</p>
            <div style="text-align: center;">
                <a style="text-align: center;" href="https://m.boannews.com/html/detail.html?idx=56967&skind=5">해커들의 이유 있는 구글 검색 사건</a><br>
                <a style="text-align: center;" href="https://www.dailysecu.com/news/articleView.html?idxno=10277">구글 검색만으로 국내 모 정치포탈 회원 개인정보 4만건 유출 위험</a><br>
                <a style="text-align: center;" href="https://www.edaily.co.kr/news/read?newsId=02637126635545944&mediaCodeNo=257">삼성 증권 사건</a><br>
            </div>
            {%endif%}
            {%if csrf_detected%}
            <p style="text-decoration : underline; font-weight : bold; text-align: center;">CSRF 관련 사고 사례</p>
            <div style="text-align: center;">   
                <a style="text-align: center;" href="https://blog.naver.com/ginger2009/221446543182">옥션 개인정보 유출 사건</a><br>
            </div>
            {%endif%}
            {% if not law1 %}
            <p>탐지된 취약점이 없어 관련 사례 출력이 불가능합니다.</p>
            {%endif%}
    </body>
</html>